<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>ABOUT SWOT Hackathon</h2>
			<p>With about 2 years to launch of SWOT with its novel measurement capability of surface water, this 
				hackathon aims to build deeper engagement with
				<a href="https://swot.jpl.nasa.gov/applications_ea.htm" target="_blank">SWOT Early Adopters</a>,
				who comprise SWOT's active user community. The Early Adopter program started in 2018.</p>
			<p>The main goal of the SWOT Hackathon is to help Early Adopters overcome hurdles they currently face in
				executing their proposed assessment of SWOT simulator data and the mission's potential for societal
				applications. In other words, this Hackathon aims to provide a 1-1 hands-on experience to Early Adopters
				that will be delivered by a team made up of SWOT Application Working Group leads, members of SWOT Science
				Team, staff from NASA, JPL, CNES and students from University of Washington. Specifically, the goal is to
				provide training on the handling and application of the SWOT simulator,
				fix coding or software obstacles
				in the assessment of data and help interpret SWOT's expected data product, format, and availability for
				performing proposed societal applications.</p>
			<p>
				This Hackathon will also bring the Early adopters to a focal
				point to continue their collaborative learning and sharing of lessons on their Early Adopter project.</p>
		</header>
		<!--<ul class="icons major">-->
			<!--<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>-->
			<!--</li>-->
		<!--</ul>-->
	</div>
</section>
