<!-- Four -->
<section id="four" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Location</h2>
        </header>
        <div id="map"></div>
        <ul class="icons mapdir">
            <li><a href="https://maps.google.com/?saddr=Current+Location&daddr=Physics+/+Astronomy+/+Building,+Seattle,+WA&driving" class="icon fa-car"><span class="label">Drive to Geohackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=r&daddr=Physics+/+Astronomy+/+Building,+Seattle,+WA&mode=transit" class="icon fa-bus"><span class="label">Public Transit to Geohackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=w&daddr=Physics+/+Astronomy+/+Building,+Seattle,+WA" class="icon fa-street-view"><span class="label">Walk to Geohackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=b&daddr=Physics+/+Astronomy+/+Building,+Seattle,+WA&mode=bicycling" class="icon fa-bicycle"><span class="label">Bike to Geohackweek</span></a></li>
        </ul>
    </div>
</section>
<script type="application/javascript">
    var map = L.map('map').setView([47.653426,-122.311813,17], 12);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([47.653426,-122.311813,17]).addTo(map)
        .bindPopup('WRF Data Science Studio, UW Physics/Astronomy Tower, 6th Floor <br/> University of Washington, Seattle, WA 98195')
        .openPopup();
</script>
